<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>勤怠情報変更｜LMS</title>
</head>
<body>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>

	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：${dispLeaveDate}</small></h2>
		</th:block>
	</th:block>

	<div class="row">
		<div class="bs-component col-sm-12">

			<form th:action="@{/attendance/update}" method="post" th:object="${attendanceForm}">
				<table class="table table-hover dataTable no-footer">
					

			<!--みまき – Task29 -->				
					<thead style="display: block;">
					 <tr>
						<th class="w140">日付</th>
						<th class="w140">コース内容</th>
						<th class="w60"></th>
					<!--みまき – Task26 -->
						<th class="w180" colspan="3">出勤</th>
						<th class="w180" colspan="3">退勤</th>
						<th class="w80">中抜け時間</th>
						<th class="w70">ステータス</th>
						<th class="w140">備考</th>
                    </tr>
					</thead>
					
				<!--みまき – Task29 -->
					<tbody style="display: block; overflow-y: scroll; height: 560px;">
						<th:block th:each="dailyAttendanceForm, stat : *{attendanceList}">
							<tr>
								<th:block>
									<input type="hidden" th:name="|attendanceList[${stat.index}].isToday|" th:value="${dailyAttendanceForm.isToday}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].studentAttendanceId|" th:value="${dailyAttendanceForm.studentAttendanceId}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].trainingDate|" th:value="${dailyAttendanceForm.trainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].dispTrainingDate|" th:value="${dailyAttendanceForm.dispTrainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].sectionName|" th:value="${dailyAttendanceForm.sectionName}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].statusDispName|" th:value="${dailyAttendanceForm.statusDispName}" />
								</th:block>
								<td class="w140">[[${dailyAttendanceForm.dispTrainingDate}]]</td>
								<td class="w300">[[${dailyAttendanceForm.sectionName}]]</td>
								
                            <!--みまき – Task28 -->
									<td class="w60">
    								<input type="button"class="btn btn-success" value="定時" th:onclick="|setTime(${stat.index})|" />
									</td>
									
							<!--みまき – Task26 -->
									<td>
									<select th:name="|attendanceList[${stat.index}].trainingStartTimeHour|" class="form-control" style="width: 70px;">
										<option th:each="StartTimeHour : ${attendanceForm.hourMap}" th:value="${StartTimeHour.key}" th:inlne="text" class="form-control" 
											th:selected="${StartTimeHour.key == dailyAttendanceForm.trainingStartTimeHour}" >[[${StartTimeHour.value}]]</option>
									</select>
									</td>
									<td>:</td>
									<td>
										<select th:name="|attendanceList[${stat.index}].trainingStartTimeMinute|" class="form-control" style="width: 70px;">
										<option th:each="StartTimeMinute : ${attendanceForm.minuteMap}" th:value="${StartTimeMinute.key}" th:inlne="text" class="form-control" 
											th:selected="${StartTimeMinute.key == dailyAttendanceForm.trainingStartTimeMinute}">[[${StartTimeMinute.value}]]</option>
										</select>
									</td>
									
								
								
									<td><select th:name="|attendanceList[${stat.index}].trainingEndTimeHour|" class="form-control" style="width: 70px;">
										<option th:each="EndTimeHour : ${attendanceForm.hourMap}" th:value="${EndTimeHour.key}" th:inlne="text" class="form-control" 
											th:selected="${EndTimeHour.key == dailyAttendanceForm.trainingEndTimeHour}">[[${EndTimeHour.value}]]</option>
									</select></td>
									<td>:</td>
									<td>
										<select th:name="|attendanceList[${stat.index}].trainingEndTimeMinute|" class="form-control" style="width: 70px;">
										<option th:each="EndTimeMinute : ${attendanceForm.minuteMap}" th:value="${EndTimeMinute.key}" th:inlne="text" class="form-control" 
											th:selected="${EndTimeMinute.key == dailyAttendanceForm.trainingEndTimeMinute}">[[${EndTimeMinute.value}]]</option>
										</select>
									</td>
									
								
								
								<td class="w120">
									<select th:name="|attendanceList[${stat.index}].blankTime|" class="form-control">
										<option th:each="blankTime : ${attendanceForm.blankTimes}" th:value="${blankTime.key}" th:inlne="text" class="form-control" 
											th:selected="${blankTime.key == dailyAttendanceForm.blankTime}">[[${blankTime.value}]]</option>
									</select>
								</td>
								<td class="w70">[[${dailyAttendanceForm.statusDispName}]]</td>
								<td class="w240">
									<input type="text" th:name="|attendanceList[${stat.index}].note|" th:value="${dailyAttendanceForm.note}" class="form-control"></input>
									
									<span th:errors="*{attendanceList[__${stat.index}__].note}" class="help-inline error"></span>
								</td>
							</tr>
						</th:block>
						
					<!--みまき – Task28 -->
						<script>
								function setTime(index) {
								
								    document.querySelector(
								        '[name="attendanceList[' + index + '].trainingStartTimeHour"]'
								    ).value = "9";
								
								    document.querySelector(
								        '[name="attendanceList[' + index + '].trainingStartTimeMinute"]'
								    ).value = "0";
								
								    document.querySelector(
								        '[name="attendanceList[' + index + '].trainingEndTimeHour"]'
								    ).value = "18";
								
								    document.querySelector(
								        '[name="attendanceList[' + index + '].trainingEndTimeMinute"]'
								    ).value = "0";
								}
						</script>
						
						
					</tbody>
				</table>

				<div class="form-group">
					<th:block th:if="${session.loginUserDto.role == '0001'}">
						<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
					</th:block>
					<th:block th:if="${session.loginUserDto.role != '0001'}">
						<input type="submit" value="戻る" name="indexCompany" class="btn btn-default" />
					</th:block>
			<!--みまき – Task27 -->
					<input type="submit" value="更新" name="complete" class="btn btn-info" onclick="return registCheck();"/>
				</div>
				
				
			<!--みまき – Task27 -->
				<script>
					function registCheck() {
					        if (confirm("更新します。よろしいですか？")) {
					          return true;
					        }
					        else {
					          return false;
					        }
					      }
			    </script>

</body>
</html>